<div class="awards">

    <div class="awards-container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100%;">
              Tipul premiului
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width: 100%; text-align: center;">
              <li><a class="dropdown-item" href="#">Premiu 1</a></li>
              <li><a class="dropdown-item" href="#">Premiu 2</a></li>
              <li><a class="dropdown-item" href="#">Premiu 3</a></li>
            </ul>
        </div>

        <div class="card-awards">
            <img src="../../../../assets/images/project_1.jpg" alt="">

            <div class="details">
                <p>Nume: Proiect_1</p>
                <p>Data: 2022-01-11</p>
                <button type="button" class="btn btn-primary">Acordă premiu</button>
            </div>
        </div>

        <div class="card-awards">
            <img src="../../../../assets/images/project_2.jpg" alt="">

            <div class="details">
                <p>Nume: Proiect_2</p>
                <p>Data: 2021-12-06</p>
                <button type="button" class="btn btn-primary">Acordă premiu</button>
            </div>
        </div>
    </div>

    <!-- GO BACK BUTTON -->
    <div class="go-back-button-menu">
        <i class="fas fa-chevron-circle-left" (click)="showDashboard()"></i>
    </div>

</div>