<div class="form-container">
    <img src="../../../assets/images/logo.jpg" alt="logo" >

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email/Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Parola</label>
    </div>

    <button type="button" class="btn btn-primary" (click)="showDashboard()">Login</button>

    <div class="go-back-button">
        <i class="fas fa-chevron-circle-left" (click)="goBack()"></i>
    </div>
</div>