<div class="dashboard">
    <div class="flex-container">
        <button mat-raised-button color="primary" class="make-it-bigger" (click)="showProfile()">
            <div class="menu-button">
                <i class="far fa-user-circle"></i>
                <p>Profile</p>
            </div>
        </button>
        <button mat-raised-button color="primary" class="make-it-bigger" (click)="showNotifications()">
            <div class="menu-button">
                <i class="far fa-bell"></i>
                <p>Notificări</p>
            </div>
        </button>
        <button mat-raised-button color="primary" class="make-it-bigger" (click)="showRaportareSesizare()">
            <div class="menu-button">
                <i class="fas fa-flag" style="color: rgb(255, 89, 89);"></i>
                <p>Raportare sesizare</p>
            </div>
        </button>
        <button mat-raised-button color="primary" class="make-it-bigger">
            <div class="menu-button">
                <i class="far fa-list-alt"></i>
                <p>Listă sesizări</p>
            </div>
        </button>
        <button mat-raised-button color="primary" class="make-it-bigger">
            <div class="menu-button">
                <i class="fas fa-users"></i>
                <p>Proiecte comunitare</p>
            </div>
        </button>
        <button mat-raised-button color="primary" class="make-it-bigger">
            <div class="menu-button">
                <i class="fas fa-medal" style="color: rgb(251, 255, 0);"></i>
                <p>Premii</p>
            </div>
        </button>
        <button mat-raised-button color="primary" class="make-it-bigger">
            <div class="menu-button">
                <i class="far fa-question-circle"></i>
                <p>Despre aplicaţie</p>
            </div>
        </button>
    </div>
</div>
