<div class="about">
    <div class="about-container">
        <div class="alert alert-primary" role="alert">
            About
        </div>

        <p>Proiect realizat de:</p>
        <div style="text-align: center; font-weight: 500">
            <p>Souca Natalia</p>
            <p>Suciu Cosmin</p>
            <p>Talpaş Daniel-Cristian</p>
        </div>

        <p>An universitar:</p>
        <div style="text-align: center; font-weight: 500">
            <p>2021-2022</p>
        </div>

        <p>Version:</p>
        <div style="text-align: center; font-weight: 500">
            <p>1.0.0</p>
        </div>

    </div>
        
    <div class="alert alert-secondary" style="text-align: center;" role="alert">
        Proiectare interfeţe utilizator
    </div>


    <!-- GO BACK BUTTON -->
    <div class="go-back-button-menu">
        <i class="fas fa-chevron-circle-left" (click)="showDashboard()"></i>
    </div>
</div>